{% extends 'blog/base.html' %}

{% block contenido %}

{% block title %}
AGREGA TU AVATAR
{% endblock title %}

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>AGREGAR TU AVATAR</h1>
                
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ mi_form.as_p }}
                
                    <input type="submit" value="Enviar">

                </form>


            </div>
        </div>
    </div>
</section>



{% endblock contenido %}